/*background + couleur de la page*/
body{
    background-image: url("assets-contact/brick.png");
    background-color: black;
}
/*bandeau du titre, le même que sur les autres pages*/
h1{
    opacity: 0.5;
    font-size: 4em;
    color: white;
    background-color: black;
    text-align: center;
    margin: 2em;
    box-shadow: 10px 5px 5px red;
}
/*paragraphe de présentation du formulaire*/
p{
    color: white;
    text-align: center;
    font-size: 2em;
}
/*formulaire avec image background et 4 div (2 input, 1 text area et 1 bouton)*/
.contactForm {
    background-image: url("assets-contact/baleine.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    border-style: solid;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 3%;
    justify-content: center;
}
/*div de chaque input*/
.line {
    display: flex;
    justify-content: center;
    padding : 1%;
}
.inputform {
    text-align: center;
    opacity: 0.9;
    height : 2em;
    width : 80%;
    margin: 2em;
}
/*text area*/
#message{
    height: 12vh;
}
/*bouton du formulaire qui renvoit un event "click" grâce à JS + son hover*/
#formButton{
    background-color: black;
    color: white;
    width: 15em;
    padding: 1em;
    border-radius: 10px;
}
#formButton:hover{
        box-shadow: 5px 5px 5px red;
    }
/*CSS du responsive*/
@media screen and (min-width: 500px) and (max-width: 820px){
    h1{
        font-size: 1em;
        text-align: center;
    }
    .contactForm{
        background-image: url("assets-contact/visage.png");
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 2em;
        text-align: center;
    }
    .contactForm{
        background-image: none;
        border-style: none;
    }
}