/*.contactTitle {

}*/
.textform{
    text-align: center;
}
.form {
    background-color: red;
    display: flex;
    flex-direction: column;
    margin: 3% 20%;
    padding: 3%;
}
.line {
    display: flex;
    justify-content: center;
    padding : 1%;
}
.inputform {
    text-align: center;
    width : 50%;
}
#selection{
    width : 50%;
}
.roll {
    color: white;
    text-align: center;
}